<template>
  <v-app>
    <component v-bind:is="layout"></component>
  </v-app>
</template>

<script>
import BasicAppLayout from './layouts/BasicAppLayout'
export default {
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    'basic-layout': BasicAppLayout,
    // define as many layouts you want for the application
  }
}
</script>
