<template>
  <v-card
    class="mx-auto p-4"
    width="700"
    raised
  >
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="user.name"
      :counter="40"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="user.email"
      :rules="emailRules"
      label="Email"
      required
    ></v-text-field>


    <v-select
      :items="roles"
      item-text="title"
      item-value="id"
      v-model="user.role_id"
      label="Role"
      required
    ></v-select>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="submit"
    >
      Submit
    </v-btn>


  </v-form>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      valid: true,

      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 40) || 'Name must be less than 40 characters',
      ],

      emailRules: [
        v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
      ],

      
      roles:[],
      
      user: {
          name: '',
          email: '',
          role_id: '',
        }

    }),

    created() {
        let url = process.env.MIX_APP_URL + `/api/users/${this.$route.params.id}/edit`
        this.axios.get(url)
        .then((response) => {
            this.user = response.data;
        })
        .catch(error =>{
          console.log('error');
        })
      },

       mounted() {
      this.getRoles()
      },

    methods: {

    getRoles(){
        this.axios.get('roles')
        .then(res => {
          this.roles = res.data;
          console.log(this.roles);
        })
        .catch(error => {
          console.log('error');
        })
    },

    submit() {
      this.errors = {};
      axios.put(`/users/${this.$route.params.id}/update`, this.user)
      .then(response => {
        console.log('Message sent!');
        this.$router.push('/users');
      }).catch(error => {
        console.log("error");
      });

    },
  },
  }
</script>
