<template>
  <v-card
    class="mx-auto p-4"
    width="700"
    raised
  >
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="user.name"
      :counter="40"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="user.email"
      :rules="emailRules"
      label="Email"
      required
    ></v-text-field>

    <v-text-field
      :type="'password'"
      v-model="user.password"
      :rules="passwordRules"
      :counter="200"
      label="Password"
      required
    ></v-text-field>

    <v-select
      :items="roles"
      item-text="title"
      item-value="id"
      v-model="user.role_id"
      label="Role"
      required
    ></v-select>


    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="submit"
    >
      Submit
    </v-btn>


  </v-form>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      valid: true,

      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 40) || 'Name must be less than 40 characters',
      ],

      emailRules: [
        v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
      ],

      passwordRules: [
        v => !!v || 'Password is required', 
        v => (v && v.length >= 5) || 'Password must have 5+ characters',
        v => /(?=.*[A-Z])/.test(v) || 'Must have one uppercase character', 
        v => /(?=.*\d)/.test(v) || 'Must have one number', 
        v => /([!@$%])/.test(v) || 'Must have one special character [!@#$%]',
      ],

      roles:[],

      user: {
          name: '',
          email: '',
          password: '',
          role_id: '',

      },

     
      
    }),

    mounted() {
      this.getRoles()
    },

    methods: {

    getRoles(){
        this.axios.get('roles')
        .then(res => {
          this.roles = res.data;
          console.log(this.roles);
        })
        .catch(error => {
          console.log('error');
        })
    },

    submit() {
      this.errors = {};
      axios.post('/users/store', this.user)
      .then(response => {
        console.log('Message sent!');
        this.$router.push('/users');
      }).catch(error => {
        console.log("error");
      });

    },
  },
  }
</script>
