<template>
  <v-data-table
    :headers="headers"
    :items="users"
    class="elevation-1"
  ></v-data-table>
</template>

<script>
  export default {
    data () {
      return {
        headers: [
          {
            text: 'ID',
            align: 'start',
            sortable: true,
            value: 'id',
          },
          { text: 'Name', value: 'name' },
          { text: 'Email', value: 'email' },
          { text: 'Role_id', value: 'role_id' },

        ],
        users: []

      }
    },

     mounted() {
      this.getUsers()
    },

    methods: {
      getUsers(){
        this.axios.get('users')
        .then(res => {
          this.users = res.data
        })
        .catch(error => {
          console.log('error');
        })
      }
    }
  }
</script>
